/* Setting a universal font size */
html, body {
font-size: 1 rem;
}

#inner {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

#navbar {

}

.nav-link {

}

#main-doc {

}

.main-section {

}

code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

.code-red {
  color: red;
}

.code-green {
  color: green;
}

.codebox {
  background: #eee;
  border: 2px;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
}