/* Setting a universal font size */
html, body {
font-size: 1 rem;
}

#inner {
  padding: 50px;
  display: flex;
}

#navbar {
flex: 30%;
padding: 20px;
}

.nav-link {
border: solid 2px;
border-color: black;
padding: 20px;
}

#main-doc {
flex: 70%;
padding: 20px;
}

.main-section {

}

code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

.code-red {
  color: red;
}

.code-green {
  color: green;
}

.codebox {
  background: #eee;
  border: 2px;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
}