/* Setting a universal font size */
html, body {
font-size: 1 rem;
}

#inner {
  padding: 50px;
  
  border: 2px;
  border-color: black;
  border: solid;
  display: inline-block;
  
}

#fix-nav {

}

#navbar {

border: solid 2px;
min-width: 250px;
height: 100%;  

}
#navbar header {
  text-align: center;
}

#nav-list {
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  border-top: 1px solid;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
}
.nav-link {
  padding: 20px 0px;
  line-height: 2.25rem;
  text-decoration: none;
  color: black;
  font-size: 1.25rem;

}
  a:hover {
    text-decoration: underline;
  }
@media screen and (max-width: 500px) {
  #inner {
  flex-direction: column;
  }
}

#main-doc {
flex: 70%;
padding: 20px;
border: solid 2px;
}

.main-section {

}

code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

.code-red {
  color: red;
}

.code-green {
  color: green;
}

.codebox {
  background: #eee;
  border: 2px;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
}

#footer ul {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

@media screen and (max-width: 500px) {
  #footer ul {
    flex-direction: column;
  }
  #footer li {
    justify-content: center;
  }
}